{{!
/*********************************************************************************
 Stars05 DETAIL
 ********************************************************************************/
}}
<span>
<img src="{{def.stars05}}" />
</span>
