{{!
/*********************************************************************************
 Stars05 LIST
 ********************************************************************************/
}}
<span>
<img src="{{def.stars05}}" />
</span>
